<div class="p-4 bg-gray-100 shadow">
    <ul class="flex gap-6">
        <!-- <li>
            <a routerLink="/" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="text-black ">Home</a>
        </li> -->
        <li>
            <a routerLink="/" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="text-gray-800 underline">Customers</a>
        </li>
        <li>
            <a routerLink="/create" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="text-gray-800 underline">Create account</a>
        </li>
        <li>
            <a routerLink="/dashboard" [routerLinkActiveOptions]="{exact: true}"  routerLinkActive="text-gray-800 underline">Dashboard</a>
        </li>
        <li>
            <a routerLink="/about" [routerLinkActiveOptions]="{exact: true}"  routerLinkActive="text-gray-800 underline">About</a>
        </li>
    </ul>
</div>
